
* {
    box-sizing: border-box;
}

.flex-banner-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner {
    font-size: 60px;
    font-weight: 100;
    padding: 50px;
    font-family: "Snell Roundhand";
    color: black; 
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center stretch;
    text-align: left;
    justify-content: center space-evenly;
}

  .flex-item-center {
    background:white;
    width: 50%;
    border: 0.5px solid black;
    border-top-width: 3px;
    padding: 1em 1em 1em 1em;
}

  .flex-item-side {
    background:white;
    width: 25%;
    border: 0.5px solid black;
    border-top-width: 3px;
    padding: 1em 1em 1em 1em;
}

  .flex-item-news-links {
    background:white;
    width: 75%;
    border: 0.5px solid black;
    border-top-width: 3px;
}

  .center-image {
    width: 100%;
}

  .article-heading {
    font-size: 30px;
    font-style: italic;  
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

  .paragraph {
      font-family: inherit;
      font-size: 16px;
}

  .topics {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: futura;
    font-size: 30px;
    color: gray;
    font-weight: bolder;
}

   .politics-list-item {
    padding-left: 1em;
    padding-top: 0.5em;
    height: 50%;
    background: #ffeaa7;
}

  .technology-list-item {
    padding-left: 1em;
    padding-top: 0.5em;
    height: 50%;
    background: #81ecec;
}

  .local-list-item {
    padding-left: 1em;
    padding-top: 0.5em;
    height: 50%;
    background: #55efc4;
}

  .opinion-list-item {
    padding-left: 1em;
    padding-top: 0.5em;
    height: 50%;
    background: #74b9ff;
}

  .sports-list-item {
    padding-left: 1em;
    padding-top: 0.5em;
    height: 50%;
    background: #a29bfe;
}

a {
    color: gray;
}