* {
    box-sizing: border-box;
}

.desktop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.calculator {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center stretch;
    text-align: center;
    justify-content: center space-evenly;
    padding: 6em 43em;
}

.lcd-display {
    background: black;
    width: 100%;
    border: 0.5px solid black;
    /* vertically align text */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* horizontally align text */
    text-align: right;
}

.lcd-display-text {
    color: white;
    padding: 0 0.5em;
    font-family: monospace;
    font-size: 50px;
}

.clear-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #d8d9db;
    width: 50%;
    border: 0.5px solid black;
}

.clear-button:hover {
    background-color: #efeff0;
}

.button {
    /* vertically align text */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* horizontally align text */
    text-align: center;
    background-color: #d8d9db;
    width: 25%;
    border: 0.5px solid black;
}

.button:hover {
    background-color:  #efeff0;
}

.operator-button {
    /* vertically align text */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* horizontally align text */
    text-align: center;
    width: 25%;
    border: 0.5px solid black;
}

.operator-button:hover{
    background-color: #e8b681; 
}

.zero-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #d8d9db;
    width: 75%;
    border: 0.5px solid black;
}

.zero-button:hover {
    background-color:  #efeff0;
}

.button-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.operator-color {
    color: white;
    background-color: #df974c;
}